{{! 首页左侧分类栏}}
{{!yield}}
<div class="panel panel-default h100ps opacity09">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body padding0">
      <ul class="list-group">
        <li class="list-group-item active my-list-group-item">
            <span class="badge">14</span>
            Cras justo odio
        </li>
        <li class="list-group-item my-list-group-item">
            <span class="badge">44</span>
            Dapibus ac facilisis in
        </li>
        <li class="list-group-item my-list-group-item">
            <span class="badge">1</span>
            Morbi leo risus
        </li>
        <li class="list-group-item my-list-group-item">
            <span class="badge">32</span>
            内容溢出时候使用省略号替代
        </li>
        <li class="list-group-item my-list-group-item">
            <span class="badge">3</span>
            Vestibulum at eros
        </li>
      </ul>
  </div>
</div>
