{{! app/templates/components/category-list-item.hbs  左侧列表项}}
<li class="list-group-item my-list-group-item pc-category-list-item-selector">
    <span class="glyphicon glyphicon-list" {{action 'showEditWin' category}}></span>
    <span class="badge">14</span>
    {{category.catgname}}
</li>
