{{! app/templates/components/change-background-img.hbs 更改背景图片}}
<!-- Modal -->
<div class="modal fade" id="changeBackground" tabindex="-1" role="dialog" aria-labelledby="changeBackgroundImgLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="changeBackgroundImgLabel">点击喜欢的背景快速更改背景图片</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a class="thumbnail">
                <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a class="thumbnail">
                <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a class="thumbnail">
                <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a class="thumbnail">
                <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg" alt="...">
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
