{{! app/templates/components/todo-list-page.hbs 中间主题部分todo列表}}
<div class="todo-list">
{{! input type="hidden" value=model.project id="projecId"}}

{{#each model.todos as |todoItem|}}
    {{! queryTodoValueCptVal通过组件调用传递过来，用于查询}}
    {{#if (filter-del-status-todo todoItem.recordStatus todoItem.title queryTodoValueCptVal)}}
        {{todo-item-page todoItem=todoItem model=model store=store projecId=model.project}}
    {{/if}}
{{/each}}

</div>
