
{{! 首页右侧主要内容显示区}}
{{!yield}}
<!-- <div class="form-group">
    <input type="text" class="form-control opacity09" placeholder="请输入任务项">
</div> -->
{{create-todo-input store=store model=model}}

<div class="todo-list">

    {{#each model.todos as |todoItem|}}

      <div class="list-group my-list-group">
          <div style="position: relative;">
              <div class="todo-checkbox">
                  <!-- <input type="checkbox" class="form-control" checked> -->
                  <span class="glyphicon glyphicon-unchecked"></span>
              </div>
              {{#link-to 'pc.category.todos.todoitem' todoItem.id}}
                  <p class="bg-info list-group-item">{{todoItem.title}}</p>
              {{/link-to}}

              <div class="todo-create-date">
                  <span>{{todoItem.timestamp}}</span>
              </div>

              <div class="star-bookmark-minus">
                   <span class="glyphicon glyphicon-star todo-star"></span>
                  <img src="/assets/images/bookmark/bookmark1.png" />
              </div>
          </div>
      </div>
  {{/each}}

</div>

{{outlet}}
