
{{! 首页右侧主要内容显示区}}
{{!yield}}
<!-- <div class="form-group">
    <input type="text" class="form-control opacity09" placeholder="请输入任务项">
</div> -->
{{create-todo-input store=store model=model}}

<div class="todo-list">

    {{#each model.todos as |todoItem|}}
        {{todo-page todoItem=todoItem model=model store=store}}
    {{/each}}

</div>

{{outlet}}
