<!-- 顶部菜单 -->
{{app-main-header model=model store=store}}

<div class="container-fluid my-container-fluid" style="z-index:1;">
    <div class="my-row">
        <div class="app-main-left-width padding-lr" id="appMainLeftId">
            {{! 首页左侧分类栏}}
            {{!yield}}
            <div class="panel panel-default h100ps opacity09">
              <div class="panel-heading">
                <h3 class="panel-title">清单类别</h3>
                <a data-toggle="modal" data-target="#newCategoryId">
                    <span class="glyphicon glyphicon-plus" data-whatever="@新增分类" title="新增分类">
                    </span>
                </a>
              </div>
              <div class="panel-body padding0">
                  <ul class="list-group">
                      {{#each model.projects as |proj|}}
                          {{#link-to 'pc.category.todos' proj.id}}
                            {{category-list-item project=proj}}
                          {{/link-to}}
                      {{/each}}
                  </ul>
              </div>
            </div>

        </div>
        {{! appMainRightId不能删除不能修改，绑定了js事件到此元素的子元素上}}
        <div class="app-main-right-width" id="appMainRightId">
            {{! todo.hbs渲染至此}}
            {{outlet}}

        </div>
    </div>
</div>


<!-- 新增分类 -->
<!-- {{categoray-modal}} -->
