<!--
@Author: ubuntuvim
@Date:   2016-07-19T23:29:46+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-20T00:03:49+08:00
-->



<!-- Modal -->
<div class="modal fade in" id="pcIndexTodoDetailModalWin" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <span id="titleId"></span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="sub-todo-list">
            <p class="sub-todo-title">
                子任务
            </p>
            <span id="subTodoListId"></span>
        </div>
        <div class="like-gread-comment-tools">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-comment"></span>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
