@import "bootstrap";  /* 导入bootstrap */
// 导入pc端todo主页面
@import "todos";
// 导入pc端todo详细设置界面样式
@import "pc_todo_item_detail";
// 导入pc端header详细设置界面样式
@import "pc_header";

body {
  overflow: hidden;
  font-family: "Lato","Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}

// app的背景图片
.app-bg-img {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%
}
//  loading图片
.loading-img {
    text-align: center;
    margin-top: 100px;
}

// ---------------------------- 表单验证错误提示信息 ------------
.validate-error {
    color: red;
    font-size: 10px;
}
// ---------------- 登录、注册 -----------------
.pc-login-error {
    color: red;
    font-size: 12px;
}

// ------------------------ pctodo广场 pc/index.hbs ----------------------
.pc-todo-list-square {
    // position: absolute;
}

/* ========================== 共同样式 ==========================  */
.opacity09 {
    opacity: 0.9;
}
.opacity1 {
    opacity: 1 !important;
}
// todo完成状态样式
.complete-todo-item {
    text-decoration: line-through;
    color: #777;
}
.h100ps {
    height: 100%;
}
/* application页面设置 */
.my-container-fluid {
    // margin-top: -21px;
}
.padding-lr {
    padding-left: 0;
    padding-right: 0;
}
.padding0 {
    padding: 0;
    overflow: auto !important;
}

/* ========================== 左右面板分隔样式 ==========================  */
.my-row {
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
    /* left: 230px; */
    height: 100%;
}

/* ========================== 顶部工具栏样式 ==========================  */
#appMainHeaderId .search-input  {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-appearance: none !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    min-height: 28px;
}
#app-main-header-collapse .input-group-addon {
    border: 0;
    // border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
}

#app-main-header-collapse img {
    margin-top: 2px;
}


/* ========================== 左侧面板 ==========================  */
#appMainLeftId {
    top: -21px;
    position:absolute;
    width: 220px !important;
    height: 100%;
    overflow: auto;
}
// 当字数超过匡杜时使用省略号替代
#appMainLeftId .list-group-item {
    border: 0;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#appMainLeftId .list-group-item .badge {
    color: #999;
    background-color: white;
}
#appMainLeftId .list-group-item:hover {
    // background-color: #e1e1e1;
    // border-color: #e1e1e1;
    // color: #333;
    cursor: pointer;
}
#appMainLeftId .panel {
    border-radius: 0;
}
#appMainLeftId .panel .panel-heading {
    //position: fixed;
    //top: 51px;
    //z-index: 1100;

    width: 219px;
}
#appMainLeftId .panel .panel-heading span {
    top: 13px;
    position: absolute;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}
#appMainLeftId .panel .panel-body .list-group a {
    text-decoration: none;
}
#appMainLeftId .my-list-group-item {
    border-radius: 0 !important;
    border-right: 0 !important;
    color: #333;
}
// #appMainLeftId .list-group-item.active {
//     background-color: #e7e7e7;
//     border-color: #e7e7e7;
//     color: #333;
// }
// #appMainLeftId .list-group-item.active:focus,
// #appMainLeftId .list-group-item.active:hover {
//     background-color: #e1e1e1;
//     border-color: #e1e1e1;
//     color: #333;
// }
#appMainLeftId .my-list-group-item .glyphicon-list {
    margin-right: 5px;
}
// 设置选中的li状态
.pc-category-list-item-active {
    // background-color: #337ab7;
    background-color: #328ad6;
    color: white !important;
}

/* =========================== 新增、编辑分类 =============================== */
#newOrEditClassifyModal .modal-dialog .modal-footer {
    border-top:0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1110 !important;
}

/*****************************************************************************************/
#appMainHeaderId .max-width-768-menu {
    display: none;
}

// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于768px
@media screen and (max-width: 768px) {

    #appMainHeaderId .navbar-form {
        border: 0;
    }
    #appMainHeaderId .search-input {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    #app-main-header-collapse .navbar-left {
        margin-left: 0;
    }

    #appMainHeaderId .max-width-768-menu {
        text-align: center;
    }
    #appMainHeaderId .navbar-default .max-width-768-menu li:hover {
        background-color: lightgray;
    }

    #appMainHeaderId .max-width-768-menu {
        display: block ;
        text-align: center;
    }

    #appMainHeaderId .min-width-768 {
        display: none ;
    }
}

// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕大于 480px
@media screen and (min-width: 480px) {
    #appMainHeaderId .max-width-480-show {
        display: none;
    }
    #appMainHeaderId .max-width-480-hidden {
        display: block;
    }
}
// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于 480px
@media screen and (max-width: 480px) {
    // 头部菜单
    #appMainHeaderId {
        display: block;
    }
    // 左侧分类列表
    #appMainLeftId {
        position: relative;
        width: 100% !important;
        height: 100%
    }
    #appMainLeftId .panel .panel-heading {
        width: 100%;
    }

    // 右侧列表
    #appMainRightId {
        display: none;
    }
    .app-main-right-show {
        margin: 0;
        padding-left: 10px;
    }
    #appMainRightId .list-group p {
        padding-right: 40px;
    }
}

// ********************************* 手机端样式 ****************************************
#mobile-category {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    // 测试手机端详细页面
    // display: none;
}
#mobile-category .panel-heading {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
#mobile-category .panel {
    border-radius: 0;
}

#mobile-category .panel-body {
    height: 100vh;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 66px;
}
#mobile-category .panel-heading .glyphicon-bell {
    right: 40px;
    position: absolute;
    top: 24px;
    font-size: 22px;
    margin-right: 25px;
}
#mobile-category .panel-heading .glyphicon-search {
    right: 25px;
    position: absolute;
    top: 24px;
    font-size: 22px;
}
#mobile-category .list-group-item.active {
    color: #333;
    background-color: white;
    border: 0;
}
#mobile-category .panel-body ul a {
    text-decoration: none;
}
#mobile-category .panel-body ul li:hover {
    background-color: #ddd !important;
    border-radius: 0;
}
#mobile-category .list-group-item {
    border: 0;
    border-radius:0;
}

/* ========================= 手机端todo列表页面 =========================  */
#mobileTodoListId {
    POSITION: ABSOLUTE;
    WIDTH: 100%;
    overflow: auto;
    height: 100%;
}
#mobileTodoListId .list-group {
    margin-bottom: 1px;
    padding-left: 0;
    opacity: 0.8;
    cursor: pointer;
}
#mobileTodoListId .list-group p {
    font-size: 16px;
    padding-left: 45px;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    padding-right: 40px;
}
#mobileTodoListId .list-group a {
    color: #333;
}
// 鼠标点击后、鼠标移动到目标上样式设置
#mobileTodoListId .list-group a:hover,
#mobileTodoListId .list-group a:visited,
#mobileTodoListId .list-group a:focus {
    text-decoration: none;
}

#mobileTodoListId input {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    height: 40px;
    font-size: 17px;
    opacity: 0.9;
    padding-top: 2px;
}
/* 设置输入框的placeholder属性颜色 */
#mobileTodoListId input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#mobileTodoListId input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#mobileTodoListId input:-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#mobileTodoListId input::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}
/* 设置输入框内右侧的图标样式 */
#mobileTodoListId .form-group .glyphicon {
    color: white;
    font-size: 15px;
    opacity: 0.4;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
#mobileTodoListId .form-group .glyphicon-calendar {
    margin-right: 25px;
}
#mobileTodoListId .form-group .glyphicon-star {
    font-size: 17px;
    top:13px;
}
.pdr10 {
    padding-right: 10px;
}
#mobileTodoListId .todo-list {

}
#mobileTodoListId .todo-list .todo-create-date {
    position: absolute;
    right: 40px;
    z-index: 110;
    top: 28px;
    font-size: 10px;
    color: #aaa;
}
#mobileTodoListId .todo-list .todo-checkbox {
    position: absolute;
    top: 10px;
    z-index: 1100;
    left: 15px;
}
#mobileTodoListId .todo-list .todo-checkbox .glyphicon {
    font-size: 20px;
    margin-top: 2px;
}
#mobileTodoListId .todo-list .star-bookmark-minus {

}
#mobileTodoListId .todo-list .star-bookmark-minus .glyphicon {

}
#mobileTodoListId .todo-list .star-bookmark-minus .todo-star {
    position: absolute;
    font-size: 15px;
    top: 13px;
    color: white;
    z-index: 1100;
    right: 15px;
    // opacity: 0.6;
}
.color-black {
    color: black !important;
}
#mobileTodoListId .todo-list .star-bookmark-minus img {
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 10px;
    height: 45px;
    width: 25px;
    opacity: 0.4;
}
// 列表页面顶部菜单
#mobileTodoListId .navbar-header {
    // background-color: #ddd;
}
#mobileTodoListId .navbar-header > a {
    margin-left: 40px;
}
#mobileTodoListId .mobile-todo-list-header .header-tools .glyphicon {
    font-size: 20px;
    top: 15px;
    /* right: 20px; */
    position: absolute;
}
#mobileTodoListId .mobile-todo-list-header .header-tools .glyphicon-arrow-left {
    left: 15px;
}
#mobileTodoListId .mobile-todo-list-header .header-tools .glyphicon-bell {
    right: 65px;
}
#mobileTodoListId .mobile-todo-list-header .header-tools .glyphicon-search {
    right: 25px;
}
// 列表页面主列表样式
#mobileTodoListId .mobile-todo-list-body {
    top: 60px;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

// ------------ ------------------------------- 手机端，详细设置页面
/* ===================== todo详细设置页面 ==================== */
#mobileTodoitemWin {
    position: absolute;
    // right: 10px;
    //top: 62px;
    // border: 1px solid red;
    width: 100%;
    overflow: hidden;
    // bottom: 10px;
}
#mobileTodoitemWin.animated {
    -webkit-transition: 100ms width ease;
    -moz-transition: 100ms width ease;
    -o-transition: 100ms width ease;
    -ms-transition: 100ms width ease;
    transition: 100ms width ease;
}
#mobileTodoitemWin .inner {
    // border: 1px solid green;
    position: relative;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#mobileTodoitemWin .todo-item-top {
    // border: 1px solid red;
    height: auto;
    background: #fff;
    // padding-top: 10px;
    padding: 10px;
}
#mobileTodoitemWin .inner .todo-item-top .form-inline .todo-checkbox .glyphicon {
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
}
#mobileTodoitemWin .todo-item-middle {
    -webkit-transition: margin 150ms !important;
    -moz-transition: margin 150ms !important;
    -o-transition: margin 150ms !important;
    -ms-transition: margin 150ms !important;
    transition: margin 150ms !important;
    background: #fff;
    overflow: auto;
    padding-bottom: 16px;
    right: 0;
    left: 0;
    // overflow-x: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    // border: 1px solid blue;
    padding: 10px;
}
#mobileTodoitemWin .todo-item-middle textarea {
    // padding: 0;
}
#mobileTodoitemWin .form-textarea {
    margin-left: 40px;
    margin-right: 35px;
}
#mobileTodoitemWin .glyphicon-minus,
#mobileTodoitemWin .glyphicon-star,
#mobileTodoitemWin .glyphicon-bookmark {
    font-size: 30px;
    right: 3px;
    color: red;
    margin-right: 5px;
}
#mobileTodoitemWin .todo-checkbox {
    // margin-top: 35px;
    position: absolute;
}
#mobileTodoitemWin .todo-star {
    // margin-top: 35px;
    position: absolute;
    font-size: 18px;
    color: white;
    top: 10px;
    right: 7px;
}

#mobileTodoitemWin .todo-item-gy {
    cursor: pointer;
    opacity: 0.4;
}
#updateTodItemId_mobile {
    min-height: 80px;
    max-height: 80px;
    min-width: 100%;
    max-width: 100;
    // border: 0;
    overflow-y: hidden;
    line-height: 1em;
    height: auto;
    // padding-top: 0;
    // padding-bottom: 2px;
    margin-left: -10px;
    padding: 0;
}
// 中部区块的时间设置输入框
#mobileTodoitemWin .todo-item-middle .panel-body {
    padding: 0;
    background: #f2f2f2;
}
#mobileTodoitemWin .todo-item-middle .panel-body .mgbt0 {
    margin-bottom: 0;
}
#mobileTodoitemWin .todo-item-middle .panel-body input {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
// 子任务输入框
#mobileTodoitemWin .list-group {
    margin-bottom: 2px;
    padding-left: 0;
    opacity: 0.8;
    cursor: pointer;
}
#mobileTodoitemWin .list-group .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
#mobileTodoitemWin .list-group p {
    // font-size: 16px;
}
#mobileTodoitemWin .todo-item-middle .todo-remark {
    margin-top: 10px;
    padding: 10px;
}
// 底部区块
#mobileTodoitemWin .todo-item-bottom {
    // border: 1px solid black;
    position: relative;
    height: 30px;
    // margin-bottom: 10px;
    background: #f2f2f2;
    text-align: center;
}
#mobileTodoitemWin .todo-item-bottom button,
#mobileTodoitemWin .todo-item-bottom a {
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    // font-size: 15px;
    // font-weight: 500;
    color: #262626;
    cursor: default;
    position: relative;
    top: -1px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#mobileTodoitemWin .todo-item-bottom .create-date {
    position: relative;
    /* margin-left: 50px; */
    top: 7px;
    color: #aaa;
    /* text-align: center; */
}
#mobileTodoitemWin .todo-item-bottom .btn-default {
    position: absolute;
    left: 20px;
}
#mobileTodoitemWin .todo-item-bottom .btn-info {
    position: absolute;
    left: 20px;
}
#mobileTodoitemWin .todo-item-bottom .btn-danger {
    position: absolute;
    right: 20px;
}
// ===================================== 手机端，搜索界面
.mobile-search-navbar-header .navbar-header {
    margin: 0;
}
.mobile-search-navbar-header .navbar-brand {
    margin-left: 25px !important;
}
.mobile-search-navbar-header .header-tools {
    margin-left: 50px;
    margin-top: 5px;
}
.mobile-search-navbar-header .header-tools .mobile-search input {
    //opacity: 0.1 !important;
}
/* 设置输入框的placeholder属性颜色 */
#mobileSearchInputId input {
    color: white;
    padding-top: 0px;
}
/////////////////////// 手机端个人中心页面 ////////////////////////
.mobile-container-fluid {
    position: absolute;
    z-index: 1100;
    width: 100%;
    height: 100%;
    padding: 0;
}
.mobile-container-fluid .panel {
    border-radius: 0;
    height: 100%;
}
.mobile-container-fluid .panel .panel-heading {
    height: 200px;
    border-radius: 0;
}
.mobile-container-fluid .panel .panel-heading .return-tools {
    font-size: 20px;
    color: white;
}
.mobile-container-fluid .panel .panel-heading .profile-img {
    text-align: center;
    margin-top: -15px;
}
.mobile-container-fluid .panel .panel-heading .profile-img img {
    height: 120px;
    width: 120px;
}
.mobile-container-fluid .panel .panel-heading .profile-name {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 5px;
}
.mobile-container-fluid .panel .panel-body {
    padding: 0;
}
.mobile-container-fluid .panel .panel-body .nav-tabs > li > a {
    border-radius: 0;
}
.mobile-container-fluid .panel .panel-body .tab-content .list-group,
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item {
    border-radius: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.mobile-container-fluid .panel .panel-body .tab-content .list-group a,
.mobile-container-fluid .panel .panel-body .tab-content .list-group a:hover {
    color: #333;
    text-decoration: none;
}
//  设置第一个元素的上边框为0
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item:first-child {
    border-top: 0;
}
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item {
    // border-bottom: 1px solid #ddd !important;
    // padding: 15px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
}
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item .volume-checkbox {
    position: absolute;
    right: 40px;
    top: 10px;
}
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item .volume-checkbox input {
    cursor: pointer;
}
.mobile-container-fluid .panel .panel-body .tab-content a .list-group-item:hover {
    background-color: #eee;
}
.mobile-container-fluid .panel .panel-body .tab-content .list-group-item .glyphicon {
    margin-right: 10px;
}
.mobile-container-fluid .panel .panel-body .nav-tabs > li {
    width: 50%;
}
.mobile-container-fluid .panel .panel-body .nav-tabs {
    background-color: #337ab7;
    border-radius: 0;
    border: 0;
}
.mobile-container-fluid .panel .panel-body .nav-tabs > li > a {
    color: white;
    border: 0;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
}
.mobile-container-fluid .panel .panel-body .nav-tabs > li > a:hover {
    background-color: #337ab7;
    border: 0;
    border-radius: 0;
}
.mobile-container-fluid .panel .panel-body .nav-tabs > li.active > a,
.mobile-container-fluid .panel .panel-body .nav-tabs > li.active > a:focus {
    border: 0;
    background-color: #337ab7;
    color: white;
    border-radius: 0;
    margin-right: 0px;
    border-bottom: 10px solid #FFF;
}
///////////////////////////// profile详细信息页面  ----------
.mobile-profile-detail-info {
    position: absolute;
    width: 100%;
    border-radius: 0;
    height: 100%;
}
.mobile-profile-detail-info .panel {
    border-radius: 0;
    height: 100%;
}
.mobile-profile-detail-info .panel .panel-heading {
    background-color: #337ab7;
    border-radius: 0;
    margin-top: -1px;
}
.mobile-profile-detail-info .panel .panel-heading .return-profile a {
    color: white;
}
.mobile-profile-detail-info .panel .panel-heading .return-profile {
    font-size: 20px;
}
.mobile-profile-detail-info .panel .profile-header-title {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 11px;
    left: 62px;
}
.mobile-profile-detail-info .panel .panel-body {
    padding: 0;
}
.mobile-profile-detail-info .panel .panel-body .list-group {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
}
.mobile-profile-detail-info .panel .panel-body .list-group .list-group-item {
    border-top: 1px solid #ddd;
    // padding: 20px;
    margin-top: -1px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
}
.mobile-profile-detail-info .panel .panel-body .list-group .list-group-item .glyphicon {
    margin-right: 15px;
}
////// --------------  修改密码 -------
.mobile-profile-pwd .panel .panel-body {
    padding: 15px;
}
.mobile-profile-detail-info .panel .panel-heading .profile-header-submit {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 22px;
    color: white;
    font-weight: normal;
    cursor: pointer;
    opacity: 0.6;
}
///////////////////////  背景图片修改 。。。。。。。
.mobile-profile-bg-setting .panel-body {
    margin-top: 10px;
}
.mobile-profile-bg-setting .panel-body .row .col-xs-3 {
    padding-left: 0;
    padding-right: 5px;
}
.mobile-profile-bg-setting .panel-body .row {
    margin: 0;
    padding-left: 5px;
}
.mobile-profile-bg-setting .panel-body .thumbnail {
    padding: 0;
}
.mobile-profile-bg-setting .panel-body .row .col-xs-3 span {
    font-size: 27px;
    color: white;
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
}
// ====================== 新增分类 ===========================
.pc-neworedie-category-form .modal-content .modal-header {
    border-bottom: 0;
}
.pc-neworedie-category-form .modal-content .modal-footer {
    border-top: 0;
}
