@import "bootstrap";  /* 导入bootstrap */

body {
  overflow: hidden;
  font-family: "Lato","Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* ========================== 共同样式 ==========================  */
.opacity09 {
    opacity: 0.9;
}

.h100ps {
    height: 100%;
}
/* application页面设置 */
.my-container-fluid {
    // margin-top: -21px;
}
.padding-lr {
    padding-left: 0;
    padding-right: 0;
}
.padding0 {
    padding: 0;
    overflow: auto !important;
}
/* ========================== 左右面板分隔样式 ==========================  */
.my-row {
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
    /* left: 230px; */
    height: 100%;
}

/* ========================== 顶部工具栏样式 ==========================  */
#appMainHeaderId .search-input  {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-appearance: none !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    min-height: 28px;
}
#app-main-header-collapse .input-group-addon {
    border: 0;
    // border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
}

#app-main-header-collapse img {
    margin-top: 2px;
}


/* ========================== 左侧面板 ==========================  */
#appMainLeftId {
    top: -21px;
    position:absolute;
    width: 220px !important;
    height: 100%;
    overflow: auto;
}
// 当字数超过匡杜时使用省略号替代
#appMainLeftId .list-group-item {
    border: 0;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#appMainLeftId .list-group-item:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #333;
    cursor: pointer;
}
#appMainLeftId .panel {
    border-radius: 0;
}
#appMainLeftId .panel .panel-heading {
    //position: fixed;
    //top: 51px;
    //z-index: 1100;
    width: 219px;
}
#appMainLeftId .panel .panel-heading span {
    top: 13px;
    position: absolute;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}
#appMainLeftId .panel .panel-body .list-group a {

}
#appMainLeftId .my-list-group-item {
    border-radius: 0 !important;
    border-right: 0 !important;

}
#appMainLeftId .list-group-item.active {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    color: #333;
}
#appMainLeftId .list-group-item.active:focus,.list-group-item.active:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #333;
}

/* ========================= 右侧面板 =========================  */
#appMainRightId {
    margin-left: 230px;
    margin-top: -10px;
    height: 100%;
    overflow: auto !important;
    /*===========================*/
    // width: 300px;
    padding-right: 10px;
}
#appMainRightId .list-group {
    margin-bottom: 1px;
    padding-left: 0;
    opacity: 0.8;
    cursor: pointer;
}
#appMainRightId .list-group p {
    font-size: 16px;
    padding-left: 45px;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#appMainRightId .list-group a {
    color: #333;
}
// 鼠标点击后、鼠标移动到目标上样式设置
#appMainRightId .list-group a:hover,
#appMainRightId .list-group a:visited,
#appMainRightId .list-group a:focus {
    text-decoration: none;
}

#appMainRightId input {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    height: 40px;
    font-size: 17px;
    opacity: 0.9;
    padding-top: 2px;
}
/* 设置输入框的placeholder属性颜色 */
#appMainRightId input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input:-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}
/* 设置输入框内右侧的图标样式 */
#appMainRightId .form-group .glyphicon {
    color: white;
    font-size: 15px;
    opacity: 0.4;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
#appMainRightId .form-group .glyphicon-calendar {
    margin-right: 25px;
}
#appMainRightId .form-group .glyphicon-star {
    font-size: 17px;
    top:13px;
}
.pdr10 {
    padding-right: 10px;
}
#appMainRightId .todo-list {

}
#appMainRightId .todo-list .todo-create-date {
    position: absolute;
    right: 40px;
    z-index: 1100;
    top: 25px;
    font-size: 10px;
}
#appMainRightId .todo-list .todo-checkbox {
    position: absolute;
    top: 10px;
    z-index: 1100;
    left: 15px;
}
#appMainRightId .todo-list .todo-checkbox .glyphicon {
    font-size: 20px;
    margin-top: 2px;
}
#appMainRightId .todo-list .star-bookmark-minus {

}
#appMainRightId .todo-list .star-bookmark-minus .glyphicon {

}
#appMainRightId .todo-list .star-bookmark-minus .todo-star {
    position: absolute;
    font-size: 15px;
    top: 13px;
    color: white;
    z-index: 1100;
    right: 15px;
    // opacity: 0.6;
}
.color-black {
    color: black !important;
}
#appMainRightId .todo-list .star-bookmark-minus img {
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 10px;
    height: 45px;
    width: 25px;
    opacity: 0.4;
}
/* ===================== todo详细设置页面 ==================== */
#todoItemId {
    position: absolute;
    right: 10px;
    //top: 62px;
    // border: 1px solid red;
    width: 400px;
    overflow: hidden;
    bottom: 10px;
}
#todoItemId.animated {
    -webkit-transition: 100ms width ease;
    -moz-transition: 100ms width ease;
    -o-transition: 100ms width ease;
    -ms-transition: 100ms width ease;
    transition: 100ms width ease;
}
#todoItemId .inner {
    // border: 1px solid green;
    position: relative;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#todoItemId .todo-item-top {
    // border: 1px solid red;
    height: 100px;
    background: #fff;
    // padding-top: 10px;
    padding: 10px;
}
#todoItemId .inner .todo-item-top .form-inline .todo-checkbox .glyphicon {
    font-size: 20px;
    cursor: pointer;
}
#todoItemId .todo-item-middle {
    -webkit-transition: margin 150ms !important;
    -moz-transition: margin 150ms !important;
    -o-transition: margin 150ms !important;
    -ms-transition: margin 150ms !important;
    transition: margin 150ms !important;
    background: #fff;
    overflow: auto;
    padding-bottom: 16px;
    right: 0;
    left: 0;
    // overflow-x: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    // border: 1px solid blue;
    padding: 10px;
}
#todoItemId .todo-item-middle textarea {
    // padding: 0;
}
#todoItemId .form-textarea {
    margin-left: 40px;
}
#todoItemId .glyphicon-minus,
#todoItemId .glyphicon-star,
#todoItemId .glyphicon-bookmark {
    font-size: 30px;
    right: 3px;
    color: red;
    margin-right: 5px;
}
#todoItemId .todo-checkbox {
    margin-top: 35px;
    position: absolute;
}
#todoItemId .todo-star {
    // margin-top: 35px;
    position: absolute;
    font-size: 18px;
    color: white;
    top: 10px;
    right: 7px;
}

#todoItemId .todo-item-gy {
    cursor: pointer;
    opacity: 0.4;
}
#updateTodItemId {
    min-height: 80px;
    max-height: 80px;
    min-width: 320px;
    max-width: 320px;
    // border: 0;
    overflow-y: hidden;
    line-height: 1em;
    height: auto;
    // padding-top: 0;
    // padding-bottom: 2px;
    margin-left: -10px;
    padding: 0;
}
// 中部区块的时间设置输入框
#todoItemId .todo-item-middle .panel-body {
    padding: 0;
    background: #f2f2f2;
}
#todoItemId .todo-item-middle .panel-body .mgbt0 {
    margin-bottom: 0;
}
#todoItemId .todo-item-middle .panel-body input {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
// 子任务输入框
#todoItemId .list-group {
    margin-bottom: 2px;
    padding-left: 0;
    opacity: 0.8;
    cursor: pointer;
}
#todoItemId .list-group .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
#todoItemId .list-group p {
    // font-size: 16px;
}
#todoItemId .todo-item-middle .todo-remark {
    margin-top: 10px;
    padding: 10px;
}
// 底部区块
#todoItemId .todo-item-bottom {
    // border: 1px solid black;
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background: #f2f2f2;
}
#todoItemId .todo-item-bottom button,
#todoItemId .todo-item-bottom a {
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    // font-size: 15px;
    // font-weight: 500;
    color: #262626;
    cursor: default;
    position: relative;
    top: -1px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#todoItemId .todo-item-bottom .create-date {
    position: absolute;
    left: 130px;
    top: 7px;
    color: #aaa;
}
#todoItemId .todo-item-bottom .btn-default {
    position: absolute;
    left: 20px;
}
#todoItemId .todo-item-bottom .btn-danger {
    position: absolute;
    right: 20px;
}
/* =========================== 新增、编辑分类 =============================== */
#newOrEditClassifyModal .modal-dialog .modal-footer {
    border-top:0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1110 !important;
}

/*****************************************************************************************/
#appMainHeaderId .max-width-768-menu {
    display: none;
}

// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于768px
@media screen and (max-width: 768px) {

    #appMainHeaderId .navbar-form {
        border: 0;
    }
    #appMainHeaderId .search-input {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    #app-main-header-collapse .navbar-left {
        margin-left: 0;
    }

    #appMainHeaderId .max-width-768-menu {
        text-align: center;
    }
    #appMainHeaderId .navbar-default .max-width-768-menu li:hover {
        background-color: lightgray;
    }

    #appMainHeaderId .max-width-768-menu {
        display: block ;
        text-align: center;
    }

    #appMainHeaderId .min-width-768 {
        display: none ;
    }
}

// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕大于 480px
@media screen and (min-width: 480px) {
    #appMainHeaderId .max-width-480-show {
        display: none;
    }
    #appMainHeaderId .max-width-480-hidden {
        display: block;
    }
}
// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于 480px
@media screen and (max-width: 480px) {
    // 头部菜单
    #appMainHeaderId {
        display: block;
    }
    // 左侧分类列表
    #appMainLeftId {
        position: relative;
        width: 100% !important;
        height: 100%
    }
    #appMainLeftId .panel .panel-heading {
        width: 100%;
    }

    // 右侧列表
    #appMainRightId {
        display: none;
    }
    .app-main-right-show {
        margin: 0;
        padding-left: 10px;
    }
    #appMainRightId .list-group p {
        padding-right: 40px;
    }
}

// ********************************* 手机端样式 ****************************************
#mobile-category .panel-heading .glyphicon-bell {
    right: 40px;
    position: absolute;
    top: 24px;
    font-size: 22px;
}
#mobile-category .panel-heading .glyphicon-search {
    right: 20px;
    position: absolute;
    top: 24px;
    font-size: 22px;
}
