// help页面样式
// @Author: ubuntuvim
// @Date:   2016-07-17T18:12:11+08:00
// @Last modified by:   ubuntuvim
// @Last modified time: 2016-08-06T03:35:14+08:00

.help-container-fluid {
    margin-top: 50px;
    overflow: auto;
    position: absolute;
    height: 100%;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    // color: #555;
    background-color: #1b252e;
    color: #9db1c5;
}

.help-container-fluid .index-intro {
    // background-color: #e1cd9f;
    // color: #555;
}
.help-container-fluid .help-show-text {
    // padding: 20px;
    text-align: center;
    // background-color: #fff;
    // color: #555;
    vertical-align: middle;
}
.help-container-fluid .help-show-text-top200 {
    margin-top: 200px;
}
// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于768px
@media screen and (max-width: 768px) {
    .help-container-fluid .divider-border {
        border-top: 10px solid #fff;
    }
    .help-container-fluid .help-show-text-top200 {
        margin-top: 0 !important;
    }
}
#footer {
  // background-color: #1b252e;
  // color: #9db1c5;
  // border-top: 1px solid #ccc;
    padding: 30px 0;
    background: #eee;
    color: #555;
}
#footer a {
  color: #9db1c5;
}
#footer .col-md-6 {
  text-align: center;
}
#footer #beian a {
  font-size: 8px;
}
#footer .col-md-4 span {
    font-size: 40px;
}
#footer .col-md-4 {
    text-align: center;
}
#footer .footer-leanote {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
