// @Author: ubuntuvim
// @Date:   2016-07-13T23:14:11+08:00
// @Last modified by:   ubuntuvim
// @Last modified time: 2016-07-17T23:51:55+08:00
/* ========================== 左侧面板 ==========================  */
// ::-webkit-scrollbar{width:1px;}
#appMainLeftId {
    top: -21px;
    position:absolute;
    width: 220px !important;
    height: 100vh;
    // overflow: auto;
    opacity: 0.8;
}
// 当字数超过匡杜时使用省略号替代
#appMainLeftId .list-group-item {
    border: 0;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#appMainLeftId .list-group-item .badge {
    color: #999;
    background-color: white;
}
#appMainLeftId .list-group-item:hover {
    // background-color: #e1e1e1;
    // border-color: #e1e1e1;
    // color: #333;
    cursor: pointer;
}
#appMainLeftId .panel {
    border-radius: 0;
}
#appMainLeftId .panel .panel-heading {
    //position: fixed;
    //top: 51px;
    //z-index: 1100;
    // border: 0;
    background-color: #fff;
    width: 219px;
}
#appMainLeftId .panel .panel-heading span {
    top: 13px;
    position: absolute;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}
#appMainLeftId .panel .panel-body .list-group a {
    text-decoration: none;
}
#appMainLeftId .panel .panel-body .inner {
    height: 100vh;
}
#appMainLeftId .my-list-group-item {
    border-radius: 0 !important;
    border-right: 0 !important;
    color: #333;
}
// #appMainLeftId .list-group-item.active {
//     background-color: #e7e7e7;
//     border-color: #e7e7e7;
//     color: #333;
// }
// #appMainLeftId .list-group-item.active:focus,
// #appMainLeftId .list-group-item.active:hover {
//     background-color: #e1e1e1;
//     border-color: #e1e1e1;
//     color: #333;
// }
#appMainLeftId .my-list-group-item .glyphicon-list {
    margin-right: 5px;
}
// 设置选中的li状态
.pc-category-list-item-active {
    // background-color: #337ab7;
    background-color: #328ad6;
    color: white !important;
}
