// @Author: ubuntuvim
// @Date:   2016-07-18T23:06:38+08:00
// @Last modified by:   ubuntuvim
// @Last modified time: 2016-07-20T00:36:51+08:00
.margin-right15 {
    margin-right: 15px;
}
.pc-todo-list-square {
    // position: absolute;
    // width: 100%;
    // /* height: 100vh; */
    // overflow: auto;
    margin-top: 60px;
}
.pc-todo-list-square .inner {
    // height: 100vh;
    opacity: 0.8;
}
.pc-todo-list-square .nav {
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    border: 0;
    // margin-bottom: 40px;
}
.pc-todo-list-square .nav > li > a {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    // border: 0;
    border-bottom: 4px solid #f5f5f5 !important;
}
.pc-todo-list-square .nav-tabs > li {
    margin-bottom: 0;
}
.pc-todo-list-square .nav > li > a,
.pc-todo-list-square .nav > li > a:hover,
.pc-todo-list-square .nav > li > a:visited,
.pc-todo-list-square .nav > li > a:focus {
    color: #555555;
    background-color: #f5f5f5;
    border: 0;
    cursor: pointer;
}
.pc-todo-list-square .nav > li > a:hover {
    color: #111;
    border-bottom: 4px solid #009a61 !important;
}
.pc-todo-list-square .nav > li > a:focus {
    color: #23527c;
    border-bottom: 4px solid #009a61 !important;
}
.pc-todo-list-square .nav-tabs > li > a:hover {
    border: 0;
}
.pc-todo-list-square .tab-content {
    background-color: #fff;
    overflow-y: auto;
}
.pc-todo-list-square .tab-content .list-group {
    margin-bottom: 0;
}
.pc-todo-list-square .tab-content .list-group .list-group-item {
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    padding: 10px 15px 0 15px;
    cursor: pointer;
}
.pc-todo-list-square .tab-content .list-group .list-group-item .author-create-date {
    font-size: 10px;
    color: #888;
}
.pc-todo-list-square .tab-content .list-group .list-group-item .author-create-date a {
    text-decoration: none;
}
.pc-todo-list-square .tab-content .list-group .list-group-item .author-create-date .pull-right span {

}
.pc-todo-list-square .tab-content .list-group .list-group-item .author-create-date .pull-right .glyphicon {
    font-size: 13px;
    margin-left: 10px;
}
.pc-todo-list-square .tab-content .list-group .list-group-item .title {
    font-size: 16px;
    color: #111;
}
.pc-todo-list-square .tab-content .list-group .list-group-item:hover {
    background-color: #eee;
}
// =================== 右边用户列表
.pc-todo-list-square .panel .panel-body .list-group .list-group-item {
    border: 0;
    cursor: pointer;
    padding: 5px 15px;
}
.pc-todo-list-square .panel .panel-body .list-group .list-group-item a {
    text-decoration: none;
}
.pc-todo-list-square .panel .panel-body {
    padding: 0;
}
.pc-todo-list-square .panel .panel-body .list-group .list-group-item:hover {
    background-color: #eee;
    border-radius: 0;
}
.pc-todo-list-square .panel .panel-body .list-group .list-group-item .grade {
    float: right;
    margin-top: 6px;
}

//  ==================== 清单广场，todo详细页面 ------------
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .title-text {
    font-size: 16px;
    color: #555;
}
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .sub-todo-list .sub-todo-title {
    border-bottom: 1px solid #eee;
}
#subTodoListId {
    color: #777;
}
// 点击才显示工具栏
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .show-like-gread-comment-tools {
    position: fixed;
    top: 60px;
    height: 30px;
    width: 170px;
    background-color: #5cb85c;
    border-radius: 100px 0 0 100px;
    padding-top: 4px;
    padding-left: 20px;
    right: 1px;
}
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .show-like-gread-comment-tools .glyphicon-share {
    font-size: 20px;
    display: none;
}
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .like-gread-comment-tools {
    // border-bottom: 1px solid #eee;
    display: inline-block;
}
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .like-gread-comment-tools .glyphicon {
    font-size: 20px;
    margin-left: 20px;
}
#pcIndexTodoDetailModalWin .modal-dialog .modal-content .modal-body .todo-star-end-date {
    border-bottom: 1px solid #eee;
}
