// 清单广场样式
// @Author: ubuntuvim
// @Date:   2016-08-05T02:04:54+08:00
// @Last modified by:   ubuntuvim
// @Last modified time: 2016-08-06T03:17:54+08:00
#publicTodosListPageId .navbar .collapse .navbar-form .form-group {
    // width: 100%;
}
#publicTodosListPageId .navbar .collapse .navbar-form .form-group input {
    border-radius: 4px;
}
// 激活状态增大输入框宽度
#publicTodosListPageId .navbar .collapse .navbar-form .form-group input:focus {
    width: 300px;
}
// ---  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 屏幕小于768px
@media screen and (max-width: 768px) {
    #publicTodosListPageId .navbar .collapse .navbar-form .form-group input {
        width: 100%;
    }
    #publicTodosListPageId .navbar .collapse .navbar-form .form-group input:focus {
        width: 100%;
    }
}
#publicTodosListPageId .navbar .collapse .navbar-form .form-group .glyphicon-search {
    z-index: 1100;
    color: #aaa;
}
// 最新、最热门列表样式
#publicTodosListPageId .pc-todo-list-square .nav .active {
    border-bottom: 4px solid #009a61;
}
#publicTodosListPageId .pc-todo-list-square .nav .active a {
    color: #23527c;
    font-weight: 600;
}
