// todos.hbs 页面样式
/* ========================= 右侧面板 =========================  */
#appMainRightId {
    margin-left: 230px;
    margin-top: -10px;
    height: 100%;
    overflow: auto !important;
    /*===========================*/
    // width: 300px;
    padding-right: 10px;
}
#appMainRightId .list-group {
    margin-bottom: 1px;
    padding-left: 0;
    opacity: 0.8;
    cursor: pointer;
}
#appMainRightId .hidden-todo-item {
    display: none;
}
#appMainRightId .show-todo-item {
    display: block;
}
#appMainRightId .list-group p {
    font-size: 16px;
    padding-left: 45px;
    /* 内容溢出省略号替代 */
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#appMainRightId .list-group a {
    color: #333;
}
// 鼠标点击后、鼠标移动到目标上样式设置
#appMainRightId .list-group a:hover,
#appMainRightId .list-group a:visited,
#appMainRightId .list-group a:focus {
    text-decoration: none;
}

#appMainRightId input {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    height: 40px;
    font-size: 17px;
    opacity: 0.9;
    padding-top: 2px;
}
/* 设置输入框的placeholder属性颜色 */
#appMainRightId input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input:-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}

#appMainRightId input::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
    padding-top: 4px;
}
/* 设置输入框内右侧的图标样式 */
#appMainRightId .form-group .glyphicon {
    color: white;
    font-size: 15px;
    opacity: 0.4;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
#appMainRightId .form-group .glyphicon-calendar {
    margin-right: 25px;
}
#appMainRightId .form-group .glyphicon-star {
    font-size: 17px;
    top:13px;
}

// ==============================
.pdr10 {
    padding-right: 10px;
}
#appMainRightId .todo-list {
    // margin-bottom: 100px;
}
#appMainRightId .todo-list .todo-create-date {
    position: absolute;
    right: 40px;
    z-index: 1100;
    top: 25px;
    font-size: 10px;
}
#appMainRightId .todo-list .todo-checkbox {
    position: absolute;
    top: 10px;
    z-index: 1100;
    left: 15px;
}
#appMainRightId .todo-list .todo-checkbox .glyphicon {
    font-size: 20px;
    margin-top: 2px;
}
#appMainRightId .todo-list .star-bookmark {
    position: absolute;
    right: 5px;
    top: -6px;
}
#appMainRightId .todo-list .star-bookmark i {
    opacity: 0.3;
    cursor: pointer;
    font-size: 25px;
    color: red;
}
// #appMainRightId .todo-list .star-bookmark-minus .glyphicon {
//
// }
// #appMainRightId .todo-list .star-bookmark-minus .todo-star {
//     position: absolute;
//     font-size: 15px;
//     top: 13px;
//     color: white;
//     z-index: 1100;
//     right: 15px;
//     // opacity: 0.6;
// }
.color-black {
    color: black !important;
}
#appMainRightId .todo-list .star-bookmark-minus img {
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 10px;
    height: 45px;
    width: 25px;
    opacity: 0.4;
}

#appMainRightId .form-grouphas-feedback {
    position: absolute;
    top: -65px;
    z-index: 1100;
    width: 250px;
    margin-left: -10px;
}
#appMainRightId .form-grouphas-feedback .input-group-addon {
    border: 0;
}
#appMainRightId .form-grouphas-feedback input {
    background-color: #dedede;
    color: #333;
    height: 39px;
    font-size: 17px;
    opacity: 0.3;
    /* padding-top: 2px; */
    border: 0;
}
#appMainRightId .form-grouphas-feedback input:hover {
    width: 350px;
}
/* 设置输入框的placeholder属性颜色 */
#appMainRightId .form-grouphas-feedback input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
}

#appMainRightId .form-grouphas-feedback input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
}

#appMainRightId .form-grouphas-feedback input:-ms-input-placeholder {
    color: #333;
}

#appMainRightId .form-grouphas-feedback input::-webkit-input-placeholder {
    color: #333;
}
// ======================== todo主列表右下角工具栏
#appMainRightId .pc-main-page-tools {
    position: fixed;
    bottom: 20px;
    // margin-right: 20px;
    left: 400px;
    border-radius: 4px;
}

#appMainRightId .pc-main-page-tools .btn-group {
    color: #333;
    background-color: white;
    // border-color: #adadad;
    border: 0;
    border-radius: 4px;
}
#appMainRightId .pc-main-page-tools .btn-group .btn-default {
    font-size: 10px;
}
#appMainRightId .pc-main-page-tools .btn-group .btn-default:hover {
    color: #333;
    background-color: white;
    border-color: white;
}
#appMainRightId .pc-main-page-tools .btn-group .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
}
#appMainRightId .pc-main-page-tools .btn-group .btn-group .dropdown-menu {
    min-width: 100px;
}
#appMainRightId .pc-main-page-tools .btn-group .btn-group .dropdown-menu > li > a {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px !important;
    cursor: pointer;
}

#appMainRightId .todo-list .pc-main-completed-todo-list {
    /* z-index: 1100; */
    /* background: #dedede; */
    opacity: 0.7;
    /* border-radius: 4px; */
    margin-top: 30px;
    margin-bottom: 100px;
    color: #666;
}
#appMainRightId .todo-list .show-completed-todo-list {
    display: block;
}
#appMainRightId .todo-list .hidden-completed-todo-list {
    display: none;;
}
// ===================== 设置todo的选中状态 -----
.todo-item-selected-status {
    background-color: #dedede;
}
