{{! app/templates/components/edit-category.hbs 编辑项目
@Author: ubuntuvim
@Date:   2016-06-29T21:13:18+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-09T14:22:08+08:00
}}

<div class="modal fade" id="editCategoryId" tabindex="9999" role="dialog" aria-labelledby="editModalLabel">

  <div class="modal-dialog modal-sm pc-neworedie-category-form" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editModalLabel" style="text-align: center; font-weight: bold;">编辑项目</h4>
      </div>
      <div class="modal-body" style="padding: 0 15px;">
          <div class="form-group">
            {{input type="text" class="form-control" id="projNameId1"
                value=projName placeholder="项目名称"}}

            {{input type="hidden" value=id id="projId1"}}
          </div>
      </div>
      <div class="modal-footer" style="padding: 10px 15px;">
          {{#pc/button-with-confirmation type="button" class="btn btn-sm btn-danger pull-left" id="delProjectBtn"
           text="删除此项目会把所属的所有TODO也删除，请确认？" onConfirm=(action 'delCategory')}}
           删除
           {{/pc/button-with-confirmation}}

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-sm btn-success" {{action 'editCategory'}} id="submitBtn2">保存</button>
      </div>
    </div>
  </div>

</div>
