{{! profile页面的二级页面：密码修改}}
{{! app/templates/m/password-setting.hbs}}
{{! 渲染到模板m.hbs上 }}
<div class="container-fluid">
    <div class="row">
        <div class="mobile-profile-detail-info mobile-profile-pwd opacity09">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="return-profile">
                      {{#link-to 'm.profile' (query-params tabType='1')}}
                      <span class="glyphicon glyphicon-menu-left"></span>
                      {{/link-to}}
                  </div>
                  <div class="profile-header-title">
                      修改密码
                  </div>
                  <div class="profile-header-submit">
                      <span class="glyphicon glyphicon-ok"></span>
                  </div>
              </div>
              <div class="panel-body">
                  <form>
                      <div class="form-group">
                        <label for="currentPwd">当前密码</label>
                        <input type="password" class="form-control" id="currentPwd" placeholder="请输入当前密码">
                      </div>
                      <div class="form-group">
                        <label for="newPwd">新密码</label>
                        <input type="password" class="form-control" id="newPwd" placeholder="请输入新密码">
                      </div>
                      <div class="form-group">
                        <label for="cfmPwd">确认密码</label>
                        <input type="password" class="form-control" id="cfmPwd" placeholder="请输入确认密码">
                      </div>
                    </form>
              </div>
            </div>
        </div>
    </div>
</div>
