{{! 手机端欢迎页面}}
<!-- <div id="Layer1" style="position:absolute; left:0px; top:0px; width:100%; height:100%">
    <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg"
        width="100%" height="100%" id="bgImg"/>
</div> -->

<div class="" style="z-index: 1100">
    欢迎使用DDListing客户端。。。

    {{#link-to 'mobile.category'}}
    category
    {{/link-to}}
</div>
