
{{! 首页右侧主要内容显示区}}
{{!yield}}
<!-- <div class="form-group">
    <input type="text" class="form-control opacity09" placeholder="请输入任务项">
</div> -->
{{! 选择的分类}}
{{input type="hidden" value=model.project id="projecId"}}

{{create-todo-input store=store model=model}}

{{todo-list-page store=store model=model}}

{{outlet}}
