<!--
@Author: ubuntuvim
@Date:   2016-05-28T20:07:31+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-19T02:06:58+08:00
-->

<div class="loading-img">
<!-- <img src="http://res.cloudinary.com/ddlisting/image/upload/v1467900744/utmspd88symq6whjkxmb.jpg" width="100%" height="100%" id="bgImg"/> -->
<!-- 5-140FGQT6   -->
    <img src="/assets/images/loading/loading.gif" style="z-index: 1100;"/>
    <div class="loading-text">
        正在加载，请稍后…
    </div>
</div>
