<!--
@Author: ubuntuvim
@Date:   2016-05-28T20:07:31+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-11T02:58:12+08:00
-->

<!-- <div class="loading-img">
    <img src="/assets/images/loading/loading.gif" style="z-index: 1100;"/>
    <div class="loading-text">
        正在加载，请稍后…
    </div>
</div> -->

<div class="ddlisting-loading">
    <h2 class="loading-h1">正在加载……</h2>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
