{{!
@Author: ubuntuvim
@Date:   2016-07-19T23:29:46+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-21T01:57:34+08:00
}}
<!-- Modal -->
<div class="modal fade" id="pcIndexTodoDetailModalWin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <span id="titleId"></span>
        </h4>
        <p>
            起止时间：2016-07-09 ~ 2016-07-23
            <div class="parent-like-gread-comment-tools">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-comment"
                    data-toggle="collapse" href="#parentCommentInputBoxId"
                    aria-expanded="false" aria-controls="parentCommentInputBoxId"></span>
            </div>
        </p>
        <div class="comment-input collapse" id="parentCommentInputBoxId">
            <div class="well">
                <!-- <input class="form-control" name="" placeholder="我的评论信息"> -->
                <div class="form-control comment-input-div" contentEditable="true" placeholder="我的评论信息">

                </div>
                <!-- <p class="text-warning">按<code>ctrl</code>+<code>enter</code>(<code>command</code>+<code>return</code>)提交评论。</p> -->
                <!-- <button class="btn btn-success btn-xs" style="background-color: #f5f5f5;" disabled></button>
                <button class="btn btn-defautl btn-xs" style="margin-top: 10px; float:right;"
                    onclick="javascript: $('#parentCommentInputBoxId').collapse('toggle');">
                    取 消
                </button>
                <button class="btn btn-success btn-xs" style="margin-top: 10px; float:right; margin-right: 10px;">
                    提交评论
                </button> -->
            </div>
        </div>
      </div>
      <div class="modal-body">

          <div class="sub-todo-list">
              <p class="sub-todo-title title-text">
                  子任务
              </p>
              <span id="subTodoListId"></span>
          </div>

          <div class="todo-comment-list">
              <p class="todo-comment-list-title title-text">
                  评论列表
              </p>

              <div class="comment-media-list">

                  <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                          </a>
                        </div>
                        <div class="media-body">
                          <p class="media-heading">
                              1527254027@qq.com&nbsp;&nbsp;2016-07-21

                            <div class="todo-comment-list-tools pull-right">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-comment"
                                    data-toggle="collapse" href="#commentInputBoxId1"
                                    aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                            </div>
                          </p>
                          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                          <!-- Nested media object -->
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                              </a>
                            </div>
                            <div class="media-body">
                              <p class="media-heading">
                                  1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                    <div class="todo-comment-list-tools pull-right">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-comment"
                                            data-toggle="collapse" href="#commentInputBoxId1"
                                            aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                    </div>
                              </p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                              <!-- Nested media object -->
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                                  </a>
                                </div>
                                <div class="media-body">
                                  <p class="media-heading">
                                      1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                        <div class="todo-comment-list-tools pull-right">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            <span class="glyphicon glyphicon-heart"></span>
                                            <span class="glyphicon glyphicon-comment"
                                                data-toggle="collapse" href="#commentInputBoxId1"
                                                aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                        </div>
                                  </p>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

                                      <!-- Nested media object -->
                                      <div class="media">
                                        <div class="media-left">
                                          <a href="#">
                                            <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                                          </a>
                                        </div>
                                        <div class="media-body">
                                          <p class="media-heading">
                                              1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                                <div class="todo-comment-list-tools pull-right">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                                    <span class="glyphicon glyphicon-heart"></span>
                                                    <span class="glyphicon glyphicon-comment"
                                                        data-toggle="collapse" href="#commentInputBoxId1"
                                                        aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                                </div>
                                          </p>
                                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

                                          <!-- Nested media object -->
                                          <div class="media">
                                            <div class="media-left">
                                              <a href="#">
                                                <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <p class="media-heading">
                                                  1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                                    <div class="todo-comment-list-tools pull-right">
                                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                        <span class="glyphicon glyphicon-comment"
                                                            data-toggle="collapse" href="#commentInputBoxId1"
                                                            aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                                    </div>
                                              </p>
                                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

                                              <!-- Nested media object -->
                                              <div class="media">
                                                <div class="media-left">
                                                  <a href="#">
                                                    <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                                                  </a>
                                                </div>
                                                <div class="media-body">
                                                  <p class="media-heading">
                                                      1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                                        <div class="todo-comment-list-tools pull-right">
                                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                                            <span class="glyphicon glyphicon-heart"></span>
                                                            <span class="glyphicon glyphicon-comment"
                                                                data-toggle="collapse" href="#commentInputBoxId1"
                                                                aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                                        </div>
                                                  </p>
                                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Nested media object -->
                          <div class="media">
                            <div class="media-left">
                              <a href="#">
                                <img class="media-object img-circle" height="40px" alt="头像" src="http://res.cloudinary.com/ddlisting/image/upload/v1468932070/iwqx0b5zd6o5ylq8uymg.ico" >
                              </a>
                            </div>
                            <div class="media-body">
                              <p class="media-heading">
                                  1527254027@qq.com&nbsp;&nbsp;2016-07-21

                                    <div class="todo-comment-list-tools pull-right">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-comment"
                                            data-toggle="collapse" href="#commentInputBoxId1"
                                            aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                                    </div>
                              </p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
              </div>

              <p>
                  评论信息1
                  <div class="todo-comment-list-tools pull-right">
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                      <span class="glyphicon glyphicon-heart"></span>
                      <span class="glyphicon glyphicon-comment"
                          data-toggle="collapse" href="#commentInputBoxId1"
                          aria-expanded="false" aria-controls="commentInputBoxId1"></span>
                  </div>
              </p>
              <div class="comment-input collapse" id="commentInputBoxId1">
                  <div class="well">
                      <!-- <input class="form-control" name="" placeholder="我的评论信息"> -->
                      <div class="form-control comment-input-div" contentEditable="true" placeholder="我的评论信息">

                      </div>
                      <!-- <p class="text-warning">按<code>ctrl</code>+<code>enter</code>(<code>command</code>+<code>return</code>)提交评论。</p> -->
                  </div>
              </div>
              <p>
                评论信息很长。评论信息很长。评论信息很长。评论信息很长。评论信息很长。
                评论信息很长。评论信息很长。评论信息很长。评论信息很长。评论信息很长。
                评论信息很长。评论信息很长。评论信息很长。评论信息很长。评论信息很长。
                评论信息很长。评论信息很长。评论信息很长。评论信息很长。评论信息很长。
                评论信息很长。评论信息很长。评论信息很长。评论信息很长。评论信息很长。
                  <div class="todo-comment-list-tools pull-right">
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                      <span class="glyphicon glyphicon-heart"></span>
                      <span class="glyphicon glyphicon-comment"
                          data-toggle="collapse" href="#commentInputBoxId2"
                          aria-expanded="false" aria-controls="commentInputBoxId2"></span>
                  </div>
              </p>
              <div class="comment-input collapse" id="commentInputBoxId2">
                  <div class="well">
                      <!-- <input class="form-control" name="" placeholder="我的评论信息"> -->
                      <div class="form-control comment-input-div" contentEditable="true" placeholder="我的评论信息">
                      </div>
                      <!-- <p class="text-warning">按<code>ctrl</code>+<code>enter</code>(<code>command</code>+<code>return</code>)提交评论。</p> -->
                  </div>
              </div>
              <p>
                  评论信息3
                  <div class="todo-comment-list-tools pull-right">
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                      <span class="glyphicon glyphicon-heart"></span>
                      <span class="glyphicon glyphicon-comment"></span>
                  </div>
              </p>
              <p>
                  评论信息4
                  <div class="todo-comment-list-tools pull-right">
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                      <span class="glyphicon glyphicon-heart"></span>
                      <span class="glyphicon glyphicon-comment"></span>
                  </div>
              </p>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
