{{! app/templates/components/project-list-page.hbs 分类列表
@Author: ubuntuvim
@Date:   2016-06-28T21:08:17+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-08-28T22:58:15+08:00
app/templates/components/project-list-page.hbs 分类列表}}
<div class="container-fluid my-container-fluid" style="z-index:1;">
    <div class="my-row">
        <div class="app-main-left-width padding-lr" id="appMainLeftId">
            {{! 首页左侧分类栏}}
            {{!yield}}
            <div class="panel panel-default h100ps opacity09">
              <div class="panel-heading" id="userGuideStep1" data-step="1" data-intro="" data-position='right'>
                <h3 class="panel-title">项目列表</h3>
                <a data-toggle="modal" data-target="#newCategoryId">
                    <span class="glyphicon glyphicon-plus" data-whatever="@新增分类" title="新增分类">
                    </span>
                </a>
              </div>
              <div class="panel-body padding0">
                  <div class="inner">
                      <ul class="list-group" id="userGuideStep2">
                          {{! projects是组件类中的计算属性，并不是路由的回调}}
                          {{#each model.user.projects as |proj|}}
                              {{#if (filter-project-by-status proj.projStatus '__NOT_DEL__')}}
                                  {{#link-to 'pc.projects.todos' proj.id}}
                                    {{pc/project-list-item project=proj store=store projectId=proj.id}}
                                  {{/link-to}}
                              {{/if}}
                          {{/each}}
                          <li class="list-group-item" style="padding-bottom: 60px;"></li>
                      </ul>
                  </div>

              </div>
            </div>

        </div>
        {{! appMainRightId不能删除不能修改，绑定了js事件到此元素的子元素上}}
        <div class="app-main-right-width" id="appMainRightId">
            {{! todo.hbs渲染至此}}
            {{outlet}}

        </div>
    </div>
</div>
