{{! app/templates/components/profile-setting.hbs pc端个人设置页面
@Author: ubuntuvim
@Date:   2016-07-03T15:54:11+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-12T01:41:10+08:00
}}
<div class="modal fade" id="pcIndexTodoDetailModalWin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-primary">
          <div class="panel-heading">
              xxxxxxxxxx
          </div>
          <div class="panel-body">
              xxxxxxxxxxxxxx
          </div>
        </div>
    </div>
  </div>
</div>
