{{! app/templates/components/pc/submit-loading-img.hbs 提交时显示的loading图片
@Author: ubuntuvim
@Date:   2016-07-09T14:04:59+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-09T14:06:14+08:00
}}
<div class="pull-left" id="loginLoading" style="display:none;">
    <img src="/assets/images/loading/loading.gif" />
</div>
