{{! 首页}}
{{#app-main}}
{{app-main-header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            {{app-main-left}}
        </div>
        <div class="col-md-9 col-sm-9">
            {{app-main-right}}
        </div>
    </div>
</div>
{{/app-main}}

{{outlet}}
