{{! 首页，手机端页面和pc端页面都渲染到此模板上}}
<div id="appBgImg" class="app-bg-img">
    <img src="https://static.wunderlist.com/5aaca85e30b556b7d189cb20be1bcb4862f7220b/images/backgrounds/2048/05.jpg"
        width="100%" height="100%" id="bgImg"/>
</div>

{{outlet}}
