{{! APP介绍页面  app/templates/help.hs
@Author: ubuntuvim
@Date:   2016-07-15T00:18:51+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-15T01:04:45+08:00
}}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'help' class="navbar-brand"}}
          <!-- <img src="/assets/images/bookmark/logo.png" alt="logo" height="40px"/> -->
          天天清单
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'help'}}简介{{/link-to}}</li>
        <li>{{#link-to 'help'}}意见反馈{{/link-to}}</li>
        <li>{{#link-to 'help'}}关于我们{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'help'}}登录{{/link-to}}</li>
        <li>{{#link-to 'help'}}注册免费账户{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
