{{!
@introduction: app/templates/components/admin/new-bg-img.bhs 新增背景图片
@Author: ubuntuvim
@Date:   2016-07-05T22:30:05+08:00
@Last modified by:   ubuntuvim
@Last modified time: 2016-07-06T23:59:14+08:00
}}
<div class="modal fade" id="newBgImg" tabindex="-1" role="dialog" aria-labelledby="newBgImgLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadNewBgImgForm">上传背景图片</h4>
      </div>
      <div class="modal-body">
          {{pc/bg-img-upload}}
      </div>
    </div>
  </div>
</div>
