{{! app/templates/components/admin/new-bg-img.bhs 新增背景图片}}
<div class="modal fade" id="newBgImg" tabindex="-1" role="dialog" aria-labelledby="newBgImgLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadNewBgImgForm">新增背景图片</h4>
      </div>
      <div class="modal-body">
          <form id="newBgImgForm">
            <div class="form-group">
              <input type="text" class="form-control" id="imgTitle" placeholder="图片说明">
            </div>
            <div class="form-group">
              {{!profile-upload fileUrl=url onchange=(action (mut url)) placeholder="主背景图片" id="bgImg"}}
              <input type="file" id="bgImg1">
            </div>
            <div class="form-group">
              {{!profile-upload fileUrl=url onchange=(action (mut url)) placeholder="缩略图" id="bgImgThume"}}
              <input type="file" id="bgImg2">
            </div>
            <div class="form-group">
              {{!profile-upload fileUrl=url onchange=(action (mut url)) placeholder="二倍缩略图" id="bgImgThume2x"}}
              <input type="file" id="bgImg3">
            </div>
            <button type="button" class="btn btn-primary" id="uploadNewBgImgBtn" {{action 'uploadFiles'}}>保存</button>
            <div class="pull-right" id="uploadLoading" style="display:none;">
                <img src="/assets/images/loading/loading.gif" />
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
