{{! app/templates/components/admin/new-bg-img.bhs 新增背景图片}}
<div class="modal fade" id="newBgImg" tabindex="-1" role="dialog" aria-labelledby="newBgImgLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadNewBgImgForm">新增背景图片</h4>
      </div>
      <div class="modal-body">
          {{profile-upload}}
      </div>
    </div>
  </div>
</div>
